h1 {
  color: red;
  font-size: 200%
}

h2 {
  color: red;
  font-size: 150%
}

p {
  font-family: cursive;
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: purple;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border-style: dotted;
}

#image {
  background-color: orange;
  width: 600px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border-style: dotted;
}
